
.contenedor
{
    background-color:rgb(197, 200, 170);
    display: flex;
    width: 45%;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50px;
    flex-wrap: wrap;
}
body{
    background-color: rgb(121, 121, 244);
}
input , textarea
{
    background-color: azure;
    
}
#fondo
{
    border-color: red;
}